@model List<BookStoreDashboard.Models.Book.BookDto>
@section Styles{
    <link rel="stylesheet" href="~/css/table.css" />
}

<div class="container">
    <br />
    <h3>Book overview</h3>
    <br />
    <a class="btn btn-success" asp-action="Create">Create new book</a>
    <br />
    <br />

    <table class="defaultTable table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Price</th>
                <th>In stock</th>
                <th style="text-align: center;">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@book.Title</td>
                    <td>@book.Author</td>
                    <td>@book.Genre</td>
                    <td>@book.Price</td>
                    <td>@book.Quantity</td>
                    <td style="text-align: center;">
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-bookId="@book.Id">Edit</a> |
                        @if (book.IsDeleted)
                        {
                            <a class="btn btn-success btn-sm" asp-action="UpdateIsDeleted" asp-route-bookId="@book.Id" asp-route-status="false" onclick="return confirm(`Are you sure you want to recover this book`)">Recover</a>
                        }
                        else
                        {
                            <a class="btn btn-danger btn-sm" asp-action="UpdateIsDeleted" asp-route-bookId="@book.Id" asp-route-status="true" onclick="return confirm(`Are you sure you want to delete this book`)">Delete</a>
                        }
                        | <button class="btn btn-info btn-sm" id="@book.Id" onclick="Toggle(event)">Details</button>
                    </td>
                </tr>

                <tr id="book-@book.Id" class="hide description">
                    <td colspan="6">
                        <b>Description:</b> <br />
                        @book.Description
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{ 
    <script src="~/js/table.js"></script>
}


